body{
    background-image: url('../assets/crime.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family:  FreeMono, "Andale Mono";
    list-style-type: none;

}

.download_form{
    width: 100px;
}

.download_btn_icon{
    width: 100px;
}

h1{
    font-family:  FreeMono, "Andale Mono";
    font-style: oblique;
    font-variant: small-caps;
}

h2{
    font-family:  FreeMono, "Andale Mono";
    font-style: oblique;
    font-variant: small-caps;
    margin: 0% 0%;
    font-size: 1.5em;
}

input{
    width: 80%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box;
    font-family:  FreeMono, "Andale Mono";
    font-variant: small-caps;
}

input[type=submit]{
    font-weight: bold;
    font-size: 18px;
}

a.nav_links{
    color: #000000;
    font-family:  FreeMono, "Andale Mono";
    font-style: oblique;
    font-variant: small-caps;
    font-size: 1.5em;
}

ul{ 
    list-style-type: none; 
    padding: 5px;
}


.plan_title_div{
    margin: 2% 15% 0%;
    background-color:rgb(255,255,255);
    opacity:0.99;
    padding: 2%;
    box-shadow: 12px 12px 2px 1px rgba(2, 2, 66, 0.2);
}

.source_input_table{
    width: 100%;
}


.treasury_div{
    width: 30%;
    margin: 2% 0% 0% 15%;
    background-color:rgb(255,255,255);
    opacity:0.99;
    padding-bottom: 20%;
    padding-top: 1%;
    box-shadow: 12px 12px 2px 1px rgba(2, 2, 66, 0.2);
    float: left;
    list-style-type: none;
}

.drawing_board_div{
    width: 35%;
    margin: 2% 15% 0% 0%;
    background-color:rgb(255,255,255);
    opacity:0.99;
    padding-bottom: 20%;
    padding-top: 1%;
    box-shadow: 12px 12px 2px 1px rgba(2, 2, 66, 0.2);
    float: right;
}

.source_div{
    margin: 2% 15% 0%;
    background-color:rgb(255,255,255);
    opacity:0.99;
    padding: 1% 2%;
    box-shadow: 12px 12px 2px 1px rgba(2, 2, 66, 0.2);
}
